
@model List<HobbyDTO>
<table class="table table-bordered">
    <tr>
        <td>1</td>
        <td>1</td>
        <th> Sil  </th>
        <th> Güncelle  </th>
      

    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>@item.Id</td>
    <td>@item.MyHobby</td>
    <td><a href="/Hobby/DeleteHobby/@item.Id" id="DeleteBtn" onclick="return confirm('Silmek Istediginize Eminmisiniz');" class="btn btn-outline-danger"> <b>Sil</b></a></td>
    <td><a href="/Hobby/UpdateHobby/@item.Id"  class="btn btn-outline-warning"> <b>Güncelle</b></a></td>


</tr>
    }
</table>

<a href="/Hobby/AddHobby/" class="btn btn-primary">Yeni Hobi Ekle</a>
