

<table class="table table-bordered">
    <tr>
        <td>Kullanıcı Adı</td>
        <td>Email</td>
    



    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.UserName</td>
            <td>@item.Email</td>
        

            @*<td><a href="/Education/DeleteEducation/@item.Id" id="DeleteBtn" onclick="return confirm('Silmek Istediginize Eminmisiniz');" class="btn btn-outline-danger"> <b>Sil</b></a></td>
                <td><a href="/Education/UpdateEducation/@item.Id" class="btn btn-outline-warning"> <b>Güncelle</b></a></td>*@


        </tr>
    }
</table>

<a href="/User/SıgnIn/" class="btn btn-primary">Kullanıcı Ekle</a>