@model ResetPasswordViewModel


<h3>Şifremi Unuttum</h3>

<hr />
@if (ViewBag.State == null)
{
    <form asp-action="PasswordReset">
        <table>
            <tr>
                <td colspan="3"><div asp-validation-summary="All"></div></td>
            </tr>
            <tr>
                <td><label asp-for="Email"></label></td>
                <td><input asp-for="Email" /></td>
                <td><span asp-validation-for="Email"></span></td>
            </tr>
            <tr>
                <td colspan="3"><input type="submit" value="Yeni Şifre Talebi Gönder" /></td>
            </tr>
        </table>
    </form>
}
else
{
    if (ViewBag.State)
    {
        @:<div class="alert-success">Şifre talebi için e-posta adresinize bilgilerindirici mail gönderilmiştir.</div>
    }
    else
    {
        @:<div class="alert-success">Böyle bir e-posta bulunmamaktadır.</div>
    }
}